{% extends "base.html" %}
{% load static %}
{% block title %}Create Equipment{% endblock %}
{% block header %}Create Equipment{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item active">Create Equipment</li>
                </ol>
            </div>
        </div> <!-- end col -->
    </div>
    <div class="card row col-lg-6 mx-auto">
        <div class="card-body">
            <h5>Add New Equipment For : {{ client.f_name }}</h5>
            <div class="row ">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="details" class="form-label">Details</label>
                        <input type="text" name="details" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Type</label>
                        <select name="type" class="form-select" required>
                            <option value="Laptop">Laptop</option>
                            <option value="Monitor">Monitor</option>
                            <option value="UPS">UPS</option>
                            <option value="CPU">CPU</option>
                            <option value="Server">Server</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="serial_no" class="form-label">Serial NO</label>
                        <input type="text" name="serial_no" required class="form-control">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Equipment">
                </form>

            </div>

        </div>

    </div>
{% endblock %}