{% extends "base.html" %}
{% load static %}
{% block title %}Printer Checklist{% endblock %}
{% block header %}Printer Checklist{% endblock %}
{% block content %}
    <div class="card col-lg-6 mx-auto">
        <div class="card-body">
            <h4 class="mb-3 header-title text-center">Printer Checklist</h4>
            <div class="row">
                <h4>Printer : {{ equipment.name }}</h4>
                <h4>Printer Number : {{ equipment.serial_no }}</h4>
            </div>
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <th colspan="2" class="text-center"><h5>Checklists</h5></th>
                        </tr>
                        <tr>
                            <td><label class="form-check-label" for="power">Turn printer on to check for any obvious
                                problems</label></td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="power" data-size="small"
                                       {% if printer_checklist and printer_checklist.power %}checked{% endif %}>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="form-check-label" for="tone">Check toner/ catridge</label></td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="tone" data-size="small"
                                       {% if printer_checklist and printer_checklist.tone %}checked{% endif %}>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="form-check-label" for="phy_damage">Check for physical damage(visual
                                inspection)</label></td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="phy_damage"
                                       data-size="small"
                                       {% if printer_checklist and printer_checklist.phy_damage %}checked{% endif %}>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="form-check-label" for="service_interior">Check and service
                                interior</label></td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="service_interior"
                                       data-size="small"
                                       {% if printer_checklist and printer_checklist.service_interior %}checked{% endif %}>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="form-check-label" for="service_roller">Service rollers & paper
                                paths</label></td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="service_roller"
                                       data-size="small"
                                       {% if printer_checklist and printer_checklist.service_roller %}checked{% endif %}>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="form-check-label" for="static_eliminator">Clean static eliminator
                                teeth</label></td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="static_eliminator"
                                       data-size="small"
                                       {% if printer_checklist and printer_checklist.static_eliminator %}checked{% endif %}>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="form-check-label" for="fuser_unit">Inspect and cleans fuser Unit</label>
                            </td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="fuser_unit"
                                       data-size="small"
                                       {% if printer_checklist and printer_checklist.fuser_unit %}checked{% endif %}>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="form-check-label" for="gears">Lubricate gears</label></td>
                            <td>
                                <input type="checkbox" class="form-control switchery" name="gears" data-size="small"
                                       {% if printer_checklist and printer_checklist.gears %}checked{% endif %}>
                            </td>
                        </tr>
                    </table>
                    <div class="mb-3">
                        <label for="observations" class="form-label">Observations:</label>
                        <textarea class="form-control" name="observations"
                                  rows="3">{{ printer_checklist.observations }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="recommendation" class="form-label">Recommendation:</label>
                        <textarea class="form-control" name="recommendation"
                                  rows="3">{{ printer_checklist.recommendation }}</textarea>
                    </div>

                    <div class="mb-3">
                        <label for="status" class="form-label">Status:</label>
                        <select class="form-select" name="status">
                            <option value="Pending" {% if printer_checklist.status == "Pending" %}selected{% endif %}>
                                Pending
                            </option>
                            <option value="Done" {% if printer_checklist.status == "Done" %}selected{% endif %}>Done
                            </option>
                            <option value="Consider as soon as possible"
                                    {% if printer_checklist.status == "Consider as soon as possible" %}selected{% endif %}>
                                Consider as soon as possible
                            </option>
                            <option value="Critical and requires immediate action"
                                    {% if printer_checklist.status == "Critical and requires immediate action" %}selected{% endif %}>
                                Critical and requires immediate action
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"
            integrity="sha512-lC8vSUSlXWqh7A/F+EUS3l77bdlj+rGMN4NB5XFAHnTR3jQtg4ibZccWpuSSIdPoPUlUxtnGktLyrWcDhG8RvA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css"
          integrity="sha512-uyGg6dZr3cE1PxtKOCGqKGTiZybe5iSq3LsqOolABqAWlIRLo/HKyrMMD8drX+gls3twJdpYX0gDKEdtf2dpmw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script>
        // Initialize Switchery on all checkbox inputs with the 'switchery' class
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            new Switchery(elems[i]);
        }
    </script>
{% endblock %}
