{% extends "base.html" %}
{% block title %}Price Rules{% endblock %}
{% block header %}Price Rules{% endblock %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'list-equipment' %}">Equipmments</a></li>
                    <li class="breadcrumb-item active">Edit Price Rule for {{ equipment }}</li>
                    {#                                                                <li class="breadcrumb-item active">Data</li>#}
                </ol>
            </div>
        </div> <!-- end col -->
    </div>

    <div class="mx-auto">
        <div class="card">
            <div class="card-body col-lg-11 mx-auto">
                <h4 class="mb-3 header-title">Edit Price Rule for {{ equipment }}</h4>
                <div class="mb-3 row table-responsive mx-auto">
                    <form method="post" action="{% url 'price_rules_for_equipment' equipment.id %}">
                        {% csrf_token %}
                        <table class="table mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Price Range Start</th>
                                <th>Price Range End</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Constant</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for price_rule in price_rules %}
                                <tr>
                                    <td>
                                        <input type="text" name="discount_percentage_{{ price_rule.id }}"
                                               value="{{ price_rule.price_range_start }}" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="discount_percentage_{{ price_rule.id }}"
                                               value="{{ price_rule.price_range_end }}" class="form-control">
                                    </td>
                                    </td>
                                    <td>
                                        <input type="text" name="discount_percentage_{{ price_rule.id }}"
                                               value="{{ price_rule.discount_percentage }}" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="discount_percentage2_{{ price_rule.id }}"
                                               value="{{ price_rule.discount_percentage2 }}" class="form-control">
                                    </td>
                                    <td><input type="checkbox" name="constant_{{ price_rule.id }}"
                                               data-color="red"
                                               class="form-check switchery" data-size="small"
                                               {% if price_rule.constant %}checked{% endif %}></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <button type="submit" class="btn btn-primary waves-effect waves-light mt-2">Save Changes
                        </button>
                    </form>
                </div>
            </div>
            <div class="card-body col-lg-11 mx-auto">
                <h4 class="mb-3 header-title">Add Price Rule for {{ equipment }}</h4>
                <form method="post" action="{% url 'add_price_rule' equipment.id %}">
                    {% csrf_token %}

                    <!-- Multiple instances of price_rule data -->
                    <table class="table mb-0">
                        <thead class="table-light">
                        <tr>
                            <th>Price Range Start</th>
                            <th>Price Range End</th>
                            <th>Min</th>
                            <th>Max</th>
                        </tr>
                        </thead>
                        <tbody>

                        <div id="price_rules">
                            <div class="price_rule">
                                <tr>
                                    <td><input class="form-control" type="text" name="price_range_start[]"
                                               placeholder="Price Range Start" required>
                                    </td>
                                    <td><input class="form-control" type="text" name="price_range_end[]"
                                               placeholder="Price Range End"></td>
                                    <td><input class="form-control" type="text" name="discount_percentage[]"
                                               placeholder="Min"
                                               required></td>
                                    <td><input class="form-control" type="text" name="discount_percentage2[]"
                                               placeholder="Max"
                                               required></td>
                                </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>

            </div>


            <script>
                function addPriceRule() {
                    var priceRulesDiv = document.getElementById('price_rules');
                    var priceRuleDiv = priceRulesDiv.querySelector('.price_rule').cloneNode(true);
                    priceRulesDiv.appendChild(priceRuleDiv);
                }
            </script>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"
            integrity="sha512-lC8vSUSlXWqh7A/F+EUS3l77bdlj+rGMN4NB5XFAHnTR3jQtg4ibZccWpuSSIdPoPUlUxtnGktLyrWcDhG8RvA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css"
          integrity="sha512-uyGg6dZr3cE1PxtKOCGqKGTiZybe5iSq3LsqOolABqAWlIRLo/HKyrMMD8drX+gls3twJdpYX0gDKEdtf2dpmw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script>
        // Initialize Switchery for each checkbox
        var checkboxes = document.querySelectorAll('.form-check');
        checkboxes.forEach(function (checkbox) {
            new Switchery(checkbox);
        });
    </script>

{% endblock %}