{% extends "base.html" %}
{% block title %}Create Requisition{% endblock %}
{% block header %}Create Requisition{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'list_requisitions' %}">Requisitions</a></li>
                    <li class="breadcrumb-item active">Create Requisition</li>
                </ol>
            </div>
        </div> <!-- end col -->
    </div>
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="mb-3 header-title text-center">Create Requisition</h4>

                    <div class="mb-3">
                        <label for="ticket_id" class="form-label">Ticket ID:</label>
                        <select name="ticket_id" class="form-select mb-3">
                            <option value="" disabled selected>Select a Ticket</option>
                            {% for ticket in active_tickets %}
                                <option value="{{ ticket.pk }}">ITL/TN/{{ ticket.ticket_id }}
                                    >> {{ ticket.company }} >> {{ ticket.equipment }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label for="selected_category" class="form-label">Select a Category:</label>
                            <select name="selected_category" id="selected_category" class="form-select mb-3" required>
                                <option value="" disabled selected>Select a Category</option>
                                {% for category in active_categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="selected_product" class="form-label">Select a Product:</label>
                            <select name="selected_product" id="selected_product" class="form-select mb-3" required>
                                <option value="" disabled selected>Select a Product</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <label for="collected_by" class="form-label">Quantity:</label>
                            <input name="quantity" type="number" value="1" id="quantity" class="form-control" required>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <label for="collected_by" class="form-label">Collected By:</label>
                            <select name="collected_by" id="collected_by" class="form-select mb-3" required>
                                <option value="" disabled selected>Select a User</option>
                                {% for user in collected_by_users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"> Remarks</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                  placeholder="Enter your remarks.."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                </div>
            </form>
        </div> <!-- end card-body-->
    </div> <!-- end card-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById('selected_category').addEventListener('change', function () {
            var categoryId = this.value;
            var productDropdown = document.getElementById('selected_product');

            if (categoryId) {
                // Send an AJAX request to fetch products based on the selected category
                fetch('/technical/get_products/?category_id=' + categoryId)
                    .then(response => response.json())
                    .then(data => {
                        productDropdown.innerHTML = '<option value="" disabled selected>Select a Product</option>';
                        data.forEach(product => {
                            var option = document.createElement('option');
                            option.value = product.part_id;
                            option.textContent = product.description;
                            productDropdown.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching products:', error);
                    });
            } else {
                // Clear the product dropdown if no category is selected
                productDropdown.innerHTML = '<option value="" disabled selected>Select a Product</option>';
            }
        });
    </script>
{% endblock %}
