{% extends "base.html" %}
{% load static %}
{% block title %}Create Format Approval{% endblock %}
{% block header %}Create Format Approval{% endblock %}
{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-body col-lg-10 mx-auto">
                <form method="POST" id="myForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="app_info">App Info:</label>
                        <textarea class="form-control" name="app_info" id="app_info" rows="4" cols="50"
                                  ></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="data_info">Data Info:</label>
                        <textarea class="form-control" name="data_info" id="data_info" rows="4" cols="50"
                                  ></textarea>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Create Format Approval">
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    </head>
    <script>
        ClassicEditor
            .create(document.querySelector('#app_info'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#data_info'))
            .catch(error => {
                console.error(error);
            });

        document.getElementById('myForm').addEventListener('submit', function (event) {
            // Retrieve CKEditor data and set it to the corresponding textarea before form submission
            document.querySelector('#app_info').value = CKEditor.instances.app_info.getData();
            document.querySelector('#data_info').value = CKEditor.instances.data_info.getData();
        });
    </script>
{% endblock %}