{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block content %}
    <di class="row">
        <h1>Counts for Each Remark</h1>
        <di class="card">
            {% for remark, count in remark_counts.items %}
                <li>
                    <a href="{% url 'remark_tickets' remark %}">{{ remark }}: {{ count }}</a>
                </li>
            {% endfor %}
        </di>
    </di>
    <div class="row card">
        <h1>Counts for Each Bench Status</h1>
        <ul>
            {% for bench_status, count in bench_status_counts.items %}
                <li>
                    <a href="{% url 'bench_status_tickets' bench_status %}">{{ bench_status }}: {{ count }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row card">
        <h1>Counts for Each Status</h1>
        <ul>
            {% for status, count in status_counts.items %}
                <li>
                    <a href="{% url 'status_tickets' status %}">{{ status }}: {{ count }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card row">
        <h1>Counts for Each TR Status</h1>
        <ul>
            {% for tr_status, count in tr_status_counts.items %}
                <li>
                    <a href="{% url 'tr_status_tickets' tr_status %}">{{ tr_status }}: {{ count }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-4">Remarks</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-start" dir="ltr">
                            <input data-plugin="knob" data-width="50" data-height="50" data-fgColor="#f05050 "
                                   data-bgColor="#F9B9B9" value="50"
                                   data-skin="tron" data-angleOffset="180" data-readOnly=true
                                   data-thickness=".15"/>
                        </div>

                        <div class="widget-detail-1 text-end">
                            <h2 class="fw-normal pt-2 mb-1"> 256 </h2>
                            <p class="text-muted mb-1">Revenue today</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>

    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-4">Total Revenue</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-start" dir="ltr">
                            <input data-plugin="knob" data-width="50" data-height="50" data-fgColor="#f05050 "
                                   data-bgColor="#F9B9B9" value="50"
                                   data-skin="tron" data-angleOffset="180" data-readOnly=true
                                   data-thickness=".15"/>
                        </div>

                        <div class="widget-detail-1 text-end">
                            <h2 class="fw-normal pt-2 mb-1"> 256 </h2>
                            <p class="text-muted mb-1">Revenue today</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-xl-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Sales Analytics</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-end">
                            <span class="badge bg-success rounded-pill float-start mt-3">32% <i
                                    class="mdi mdi-trending-up"></i> </span>
                            <h2 class="fw-normal mb-1"> 8451 </h2>
                            <p class="text-muted mb-3">Revenue today</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                 aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 77%;">
                                <span class="visually-hidden">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-xl-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-4">Statistics</h4>

                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-start" dir="ltr">
                            <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="#ffbd4a"
                                   data-bgColor="#FFE6BA" value="80"
                                   data-skin="tron" data-angleOffset="180" data-readOnly=true
                                   data-thickness=".15"/>
                        </div>
                        <div class="widget-detail-1 text-end">
                            <h2 class="fw-normal pt-2 mb-1"> 4569 </h2>
                            <p class="text-muted mb-1">Revenue today</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-xl-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Daily Sales</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-end">
                            <span class="badge bg-pink rounded-pill float-start mt-3">32% <i
                                    class="mdi mdi-trending-up"></i> </span>
                            <h2 class="fw-normal mb-1"> 158 </h2>
                            <p class="text-muted mb-3">Revenue today</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                 aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 77%;">
                                <span class="visually-hidden">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

    </div>



{% endblock %}