{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block content %}
    <div class="row">
        <h5>Remarks</h5>
        {% for remark, count in remark_counts.items %}
            {% if count != 0 %}
                <div class="col">
                    <div class="card">
                        <div class="card-body widget-user">
                            <div class="text-center">
                                <a href="{% url 'remark_tickets' remark remark %}">
                                    <h2 class="fw-normal text-primary" data-plugin="counterup">{{ count }}</h2>
                                    <h5>{% if remark == "Warranty" %}Warranty/Claims {% elif remark == "Repairs" %} Sent
                                        for
                                        Repairs {% elif remark == "To be collected" %} Waiting
                                        Collection {% elif remark == "To be delivered" %} Waiting
                                        Delivery {% elif remark == "Collected" %} Equipment
                                        Collected  {% elif remark == "Delivered" %} Equipment Delivered{% else %}
                                        {{ remark }}{% endif %}</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <h5>Status</h5>
        {% for bench_status, count in inhouse_bench_status_counts.items %}
            <div class="col">
                <div class="card">
                    <div class="card-body widget-user">
                        <div class="text-center">
                            <a href="{% url 'inhouse_bench_status_tickets'  "Pending Inhouse" bench_status %}">
                                <h2 class="fw-normal text-primary" data-plugin="counterup">{{ count }}</h2>
                                <h5>{{ bench_status }} Inhouse</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for bench_status, count in bench_status_counts.items %}
            <div class="col">
                <div class="card">
                    <div class="card-body widget-user">
                        <div class="text-center">
                            <a href="{% url 'bench_status_tickets' "Bench" "Pending Benchwork" bench_status %}">
                                <h2 class="fw-normal text-primary" data-plugin="counterup">{{ count }}</h2>
                                <h5>{{ bench_status }} Benchwork</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for site_status, count in site_status_counts.items %}
            <div class="col">
                <div class="card">
                    <div class="card-body widget-user">
                        <div class="text-center">
                            <a href="{% url 'bench_status_tickets' "On-site" "Pending On-Site" site_status %}">
                                <h2 class="fw-normal text-primary" data-plugin="counterup">{{ count }}</h2>
                                <h5>{{ site_status }} Onsite</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for status, count in status_counts.items %}
            <div class="col">
                <div class="card">
                    <div class="card-body widget-user">
                        <div class="text-center">
                            <a href="{% url 'status_tickets' status "Open Tickets" %}">
                                <h2 class="fw-normal text-primary" data-plugin="counterup">{{ count }}</h2>
                                <h5>{{ status }} Tickets</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for req_status, count in req_status_counts.items %}
            {% if count != 0 %}
                <div class="col">
                    <h5>Requisitions</h5>

                    <div class="card">
                        <div class="card-body widget-user">
                            <div class="text-center">
                                <a href="{% url 'pending_requisitions' req_status %}">
                                    <h2 class="fw-normal text-primary" data-plugin="counterup">{{ count }}</h2>
                                    <h5>{{ req_status }}</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="col">
            <h5>Technical Report Status</h5>
            <div class="row">
                <div class="d-inline-block">
                    {% for tr_status, count in tr_status_counts.items %}
                        {% if count != 0 %}
                            <div class=" col  card d-inline-block">
                                <div class="card-body widget-user">
                                    <div class="text-center">
                                        <a href="{% url 'tr_status_tickets' tr_status %}">
                                            <h2 class="fw-normal text-primary" data-plugin="counterup">{{ count }}</h2>
                                            <h5>{{ tr_status }}</h5></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Tickets Overview</h4>
                    <div class="chartjs-chart">
                        <canvas id="ticket-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 h-50">
            <div class="card h-50">
                <div class="card-body h-50">
                    <h4 class="header-title mt-0 mb-3">Service Overview</h4>

                    <div class="chartjs-chart">
                        <canvas id="service-schedules-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 h-50">
            <div class="card h-50">
                <div class="card-body h-50">
                    <h4 class="header-title mt-0 mb-3">Requisition Overview</h4>

                    <div class="chartjs-chart">
                        <canvas id="requisition-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col-->
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Technical Reports</h4>
                    <div class="chartjs-chart">
                        <canvas id="tr-status-pie-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Ticket Remarks</h4>
                    <div class="chartjs-chart">
                        <canvas id="remark-pie-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Bench Status This Month(%)</h4>
                    <div class="chartjs-chart">
                        <canvas id="bench-status-pie-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Ticket Status This Month(%)</h4>
                    <div class="chartjs-chart">
                        <canvas id="status-pie-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var monthNames = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        fetch('{% url 'tickets_created_monthly_this_year' %}')
            .then(response => response.json())
            .then(data => {
                var labels = data.map(item => monthNames[item.month - 1]);
                var ticketCounts = data.map(item => item.count);

                var ctx = document.getElementById('ticket-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Tickets Created',
                            data: ticketCounts,
                            backgroundColor: 'rgba(220,53,69,0.7)',
                            borderColor: 'rgba(220,53,69,255)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    </script>
    <script>
        fetch('{% url 'tr_status_pie_chart' %}')
            .then(response => response.json())
            .then(data => {
                var counts = data.map(item => item.count);
                var labels = ['Follow up', 'Awaiting LPO', 'Not intrested', 'On hold', 'Done'];
                var backgroundColors = ['#f8f9fa', '#fd7e14', '#dc3545', '#28a745', '#ffc107'];

                var ctx = document.getElementById('tr-status-pie-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: counts,
                            backgroundColor: backgroundColors
                        }]
                    }
                });
            });
    </script>
    <script>
        fetch('{% url 'service_schedules_yearly' %}')
            .then(response => response.json())
            .then(data => {
                var months = [...Array(12).keys()].map(i => i + 1);  // 1 to 12 representing months
                var scheduleCounts = months.map(month => {
                    var schedule = data.find(item => item.month === month);
                    return schedule ? schedule.count : 0;
                });

                var ctx = document.getElementById('service-schedules-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: months.map(month => monthNames[month - 1]),
                        datasets: [{
                            label: 'Monthly Schedule Counts',
                            data: scheduleCounts,
                            backgroundColor: 'rgba(220,53,69,0.7)',
                            borderColor: 'rgba(220,53,69,255)',
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    </script>
    <script>
        fetch('{% url 'remark_pie_chart' %}')
            .then(response => response.json())
            .then(data => {
                var labels = ['Delivered', 'Collected', 'LPO follow up', 'To be collected', 'Warranty','Repairs'];
                var backgroundColors = ['#f8f9fa', '#fd7e14', '#28a745', '#dc3545', '#ffc107','#d1b78c'];
                var counts = data.map(item => item.count);

                var ctx = document.getElementById('remark-pie-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: counts,
                            backgroundColor: backgroundColors
                        }]
                    }
                });
            });
    </script>
    <script>
        fetch('{% url 'bench_status_pie_chart' %}')
            .then(response => response.json())
            .then(data => {
                var labels = data.map(item => item.label);
                var percentages = data.map(item => item.percentage);
                var backgroundColors = [
                    'rgba(40,167,69,255)',
                    'rgba(220,53,69,255)',
                ];  // Adjust these colors as needed

                var ctx = document.getElementById('bench-status-pie-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: percentages,
                            backgroundColor: backgroundColors
                        }]
                    }
                });
            });
    </script>
    <script>
        fetch('{% url 'status_pie_chart' %}')
            .then(response => response.json())
            .then(data => {
                var labels = data.map(item => item.label);
                var percentages = data.map(item => item.percentage);
                var backgroundColors = [
                    'rgba(40,167,69,255)',
                    'rgba(220,53,69,255)',
                ];  // Adjust these colors as needed

                var ctx = document.getElementById('status-pie-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: percentages,
                            backgroundColor: backgroundColors
                        }]
                    }
                });
            });
    </script>
    <script>
        // Array to map month numbers to month names
        var monthNames = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        fetch('{% url 'requisitions_created_monthly' %}')
            .then(response => response.json())
            .then(data => {
                var labels = data.map(item => monthNames[item.month - 1]); // Map to month names
                var requisitionCounts = data.map(item => item.count);

                var ctx = document.getElementById('requisition-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Requisitions Created',
                            data: requisitionCounts,
                            backgroundColor: 'rgba(220,53,69,0.7)',
                            borderColor: 'rgba(220,53,69,255)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    </script>
{% endblock %}