{% extends "base.html" %}
{% load helpdesk_tags %}
{% load static %}
{% load humanize %}
{% block title %}Report{% endblock %}
{% block content %}
    <style>
        @media print {
            #footer-container {
                position: relative; /* Change to relative */
            }

            #delivery-note {
                margin-bottom: 5;
            }

            #footer-image {
                position: absolute; /* Change to absolute */
                bottom: 0;
                left: 0;
                right: 0;
                max-width: 100%;
            }

            body {
                margin: 0 !important;
            }

            .page #delivery-note {
                page-break-before: always;
                margin-top: 50px; /* Adjust the margin-top value as needed */
            }
        }
    </style>
    <div class="col-9 mx-auto wrapper px-2 mx-auto">
        <div class="card" id="delivery-note">
            <div class="content">
                <div class="mx-auto text-center tex-sm">
                    <h3 style="font-size: 15px;">Technical Report</h3>
                </div>
                <div class="row mb-1 mx-auto">
                    <div class="col-6">
                        <img src="{% static 'logo black.png' %}" alt="Company Logo" width="150">
                    </div>
                    <div class="col-6 text-end mt-1 mx-auto" style="font-size: 9px;">
                        <small style="font-size:10px">Ground Floor, Corporate Insurance Building </small><br>
                        <small style="font-size:10px">Yusuf A. Karim Rd, East End, Treasury Square </small><br>
                        <small style="font-size:10px"> P.O. Box 42716 - 80100,</small><br>
                        <small style="font-size:10px">Cell: 0728 786014 | 0732 786012 | 0773 963114</small><br>
                        <small style="font-size:10px">Tel: +254 41 2221792 | 696/932/231500 | 2311364</small><br>
                        <small style="font-size:10px"><i class="mdi mdi-email-outline"></i> sales:
                            sales@intellitech.co.ke | For support:
                            support@intellitech.co.ke</small><br>
                        <small style="font-size:10px">Website: www.intellitech.co.ke</small>
                    </div>
                </div>
                <div class="row text-end mx-auto">
                    <p style="font-size:10px">Date: {{ ticket.created|date:"d/m/Y" }}</p>
                </div>
                <div class="row mt-1 mx-auto">
                    <div class="col-6 ">
                        <h4 style="font-size:10px">Client Information</h4>
                        <small style="font-size:10px">TO : {{ ticket.company }} / {{ ticket.client }}</small><br>
                        <small style="font-size:10px"> ADDRESS : {{ ticket.company.address }}</small><br><br>
                    </div>
                    <div class="col-6 text-end">
                        <h4 style="font-size:10px">Report Details</h4>
                        <small style="font-size:10px">REF :
                            ITL/TR-{{ ticket.created|date:"d/m/Y" }}/{{ ticket.ticket_id }}</small><br>
                        <small style="font-size:10px">Ticket No: : ITL/TN/{{ ticket.ticket_id }}</small><br>
                    </div>
                </div>
                <div class="row mt-1 mx-auto">
                    <div class="col-6">
                        <h5 style="font-size:10px">Equipment Information</h5>
                        <small style="font-size:10px">Equipment : {{ ticket.equipment }}</small><br>
                        <small style="font-size:10px">Serial Number : {{ ticket.serial_no }}</small>
                    </div>
                </div>
                <div class="row mt-1 mx-auto">
                    <div class="table ">
                        <table class="table table-bordered">
                            <thead class="table-light">
                            <tr>
                                <th class="text-center p-1" colspan="2">
                                    <h4 style="font-size:10px">DETAILS</h4>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="20%" style="font-size:10px">
                                    Fault:
                                </td>
                                <td style="font-size:10px">
                                    {{ ticket.fault|safe }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:10px">
                                    Diagnosis:
                                </td>
                                <td style="font-size:10px">
                                    {{ ticket.diagnosis|safe }}
                                    {% if diagnosis_images %}
                                        <div class="card w-25 h-25 mt-2">
                                            <img class="card-img-top img-fluid " src="{{ diagnosis_images.image.url }}">
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:10px">
                                    Action:
                                </td>
                                <td style="font-size:10px">
                                    {{ ticket.action|safe }}
                                    {% if action_images %}
                                        <div class="card w-25 h-25 mt-2">
                                            <img class="card-img-top img-fluid " src="{{ action_images.image.url }}">
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:10px">
                                    Recommendation:
                                </td>
                                <td style="font-size:10px">
                                    {{ ticket.recommendation|safe }}
                                    {% if recommendation_images %}
                                        <div class="card w-25 h-25 mt-2    ">
                                            <img class="card-img-top img-fluid mb-1"
                                                 src="{{ recommendation_images.image.url }}">
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if parts or tquote_data or ticket.labour != "0" %}
                    <div class="row mx-auto">
                        <div class="row mb-1 mt-1 table-responsive mx-auto">
                            <table class="table table-bordered">
                                <thead class="table-light">
                                <tr>
                                    <th colspan="5" class="text-center">QUOTATION</th>
                                </tr>
                                <tr>
                                    <th>Part Number</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if parts %}
                                    {% for requisition in parts %}
                                        <tr>
                                            <td>{{ requisition.part.code }}</td>
                                            <td>{{ requisition.part.description }}</td>
                                            <td>{{ requisition.price|floatformat:2|intcomma }}</td>
                                            <td>{{ requisition.quantity }}</td>
                                            <td class="text-end"> {{ requisition.total|floatformat:2|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if tquote_data %}
                                    {% for item in tquote_data %}
                                        {% if item.layout == "1" %}
                                            <tr data-entry-id="{{ item.id }}">
                                                <td>{{ item.part_no }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>{{ item.price|floatformat:2|intcomma }}</td>
                                                <td>{{ item.quantity|floatformat:0 }}</td>
                                                <td class="text-end">{{ item.total|floatformat:2|intcomma }}</td>
                                                <!-- Add more cells for other fields -->
                                            </tr>{% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if  ticket.labour.isdigit %}
                                    <tr>
                                        <td colspan="4" class="text-end">LABOUR</td>
                                        <td colspan="4" class="text-end">{{ ticket.labour|floatformat:2|intcomma }}</td>
                                    </tr>
                                {% else %}
                                    <td colspan="4" class="text-end">LABOUR</td>
                                    <td colspan="4" class="text-end">{{ ticket.labour }}</td>
                                {% endif %}
                                {% if tquote_data|length > 1 %}
                                    <tr>
                                        <td colspan="4" class="text-end">SUBTOTALS</td>
                                        <td colspan="4" class="text-end">{{ subtotals|floatformat:2|intcomma }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td colspan="4" class=" text-danger text-end">VAT</td>
                                    <td colspan="4" class="text-danger text-end">{{ vat|floatformat:2|intcomma }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end">TOTAL AMOUNT</td>
                                    <td colspan="4  " class="text-end">{{ total_amount|floatformat:2|intcomma }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>{% endif %}
                <div><!-- Display tQuote Data -->
                    {% for layout, items in grouped_tquote_data.items %}
                        {% if layout != "1" %}
                            <div class="row mx-auto">
                                <div class="row mb-1 mt-1 table-responsive mx-auto">
                                    <table class="table table-bordered">
                                        <thead class="table-light">
                                        <tr>
                                            <th colspan="5" class="text-center">QUOTATION {{ layout }}</th>
                                        </tr>
                                        <tr>
                                            <th>Part Number</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>Amount</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for item in items %}
                                            <tr data-entry-id="{{ item.id }}">
                                                <td>{{ item.part_no }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>{{ item.price|floatformat:2|intcomma }}</td>
                                                <td>{{ item.quantity|floatformat:0 }}</td>
                                                <td class="text-end">{{ item.total|floatformat:2|intcomma }}</td>
                                                <!-- Add more cells for other fields -->
                                            </tr>
                                        {% endfor %}

                                        <tr>
                                            <td colspan="4" class="text-end">SUBTOTALS</td>
                                            <td colspan="4" class="text-end">
                                                {{ group_totals|get_layout_total:layout|floatformat:2|intcomma }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class=" text-danger text-end">VAT</td>
                                            <td colspan="4" class="text-danger text-end">
                                                {{ group_vat|get_layout_total:layout|floatformat:2|intcomma }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="text-end">TOTAL AMOUNT</td>
                                            <td colspan="4  " class="text-end">
                                                {{ group_total_amount|get_layout_total:layout|floatformat:2|intcomma }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="row mx-auto">
                    <div class="">
                        <p>Add 16% VAT ON ALL PRODUCTS</p>
                        <p>Stock position changes daily. Kindly confirm availability before placing your order.</p>
                        <p><strong>VALIDITY:</strong><br>
                            This Quote is Valid for 7 days from the date indicated above.</p>
                        <p>Feel free to contact us for any further clarifications.</p>
                        <p><strong>Regards,</strong><br>
                            IT SUPPORT - INTELLITECH LTD</p>
                        </p>
                    </div>
                </div>
            </div>

            <img src="{% static 'tr_footer.png' %}" id="footer-image">
        </div>
    </div>
    <div class="card p-4">
        <div class="row">
            <div class="col-lg-6 mb-1">
                <label class="form-label">
                    Report Status:
                </label>
                <input class="form-control" value="{{ ticket.tr_status }}" disabled>
            </div>
            {% if user|is_management %}
                <div class="col-lg-6 mb3">
                    <form method="post" action="{% url 'approve_report' report.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <label for="approval_status" class="form-label">Approval Status:</label>
                            <div class="col-9">
                                <select id="approval_status" name="approval_status" class="form-select">
                                    <option value=""
                                            {% if report.is_approved == '' %}selected{% endif %}>
                                    </option>
                                    <option value="approved"
                                            {% if report.is_approved == "approved" %}selected{% endif %}>Approved
                                    </option>
                                    <option value="rejected"
                                            {% if report.is_approved == "rejected" %}selected{% endif %}>Rejected
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary waves-effect waves-light me-1">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <a href="{% url 'edit-ticket' ticket.ticket_id %}" class="btn btn-primary"><span class="btn-label"><i
                class="mdi mdi-square-edit-outline"></i></span> Edit Ticket
        </a>
        {% if not report.sent_approval %}
            <a href="{% url 'mark_sent_for_approval' report.id %}" class="btn btn-primary">
                <span class="btn-label"><i class="mdi mdi-sticker-check-outline"></i></span> Request Approval
            </a>
        {% endif %}

        <a id="print-button" class="btn btn-primary waves-effect waves-light me-1"><span class="btn-label"><i
                class="mdi mdi-printer"></i></span>Print</a>
    </div>
    <script>
        document.getElementById('print-button').addEventListener('click', function () {
            printDeliveryNote();
        });

        function printDeliveryNote() {
            var printContents = document.getElementById('delivery-note').innerHTML;
            var originalContents = document.body.innerHTML;

            var style = document.createElement('style');
            style.innerHTML = `
            @media print {
                #footer-container {
                    position: relative;
                }

                #footer-image {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    max-width: 100%;
                }

                body {
                    margin: 0 !important;
                }
                .page #delivery-note {
                    page-break-before: always;
                    margin-top: 5; /* Adjust the margin-top value as needed */
                }

            }
        `;
            document.head.appendChild(style);

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;

            document.head.removeChild(style);
        }
    </script>
{% endblock %}
