{% extends "base.html" %}
{% block title %}Create Ticket{% endblock %}
{% block header %}Create Ticket{% endblock %}
{% block content %}
    <style>
        /* Apply Bootstrap styling to the Awesomplete dropdown */
        .awesomplete ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            border: 1px solid #ced4da;
            border-top: none;
        }

        .awesomplete li {
            padding: 8px;
            cursor: pointer;
        }

        .awesomplete li:hover {
            background-color: #f8f9fa;
        }

        .awesomplete li:focus {
            outline: none;
            background-color: #f8f9fa;
        }

        .offcanvas-wider {
            width: 80%; /* Adjust the width as needed */
        }
    </style>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sales_tickets' %}">Tickets</a></li>
                    <li class="breadcrumb-item active">Create Ticket</li>
                </ol>
            </div>
        </div> <!-- end col -->
    </div>
    <div class="card">
        <div class=" card-body col-11 mx-auto">
            <h3 class="header-title mb-4">Create Ticket </h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="company_id" class="form-label">Company : <a type="button" class="text-danger"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#signup-modal">
                            <i class="mdi mdi-domain"> add new </i>
                        </a></label>
                        <select name="company_id" class="form-select">
                            {% for company in companies %}
                                <option value="{{ company.id }}">
                                    {{ company.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="contact" class="form-label">Contact:</label>
                        <input type="text" class="form-control" name="contact"
                               placeholder="Contact" required>
                    </div>
                </div>
                <div class="row mx-auto mb-3">
                    <label for="issue_summary" class="form-label">Issue Summary:</label>
                    <div id="editor-container">
                        <textarea name="issue_summary" id="issue_summary" class="form-control"
                                  placeholder="Issues Summary" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mb-3 table-responsive mx-auto">
                    <table class="table mb-3">
                        <thead class="table-dark">
                        <tr>
                            <th>Part Number</th>
                            <th width="30%">Description</th>
                            <th width="10%">Price</th>
                            <th width="6%">Quantity</th>
                            <th width="8%">Currency</th>
                            <th>Availability</th>
                            <th width="8%">Supplier</th>
                            <th>Attach</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" name="part_no[]" id="part_no"
                                       value="{{ product.part_no }}"
                                       class="form-control">
                            </td>
                            <td>
                                <input type="text" name="description[]" id="description" class="form-control"
                                       value="{{ product.description }}">
                            </td>

                            <td>
                                <input type="number" name="price[]" value="0" placeholder="0" id="price"
                                       class="form-control" step="any" min="0">
                            </td>

                            <td><input type="number" name="quantity[]"
                                       value="0" id="qty"
                                       class="form-control">
                            </td>
                            <td><select name="currency[]" class="form-select">
                                <option value="">
                                </option>
                                <option value="USD">
                                    USD
                                </option>
                                <option value="KES">
                                    KES
                                </option>
                                <option value="CHF">
                                    CHF
                                </option>
                                <!-- Add more currency options as needed -->
                            </select></td>
                            <td>
                                <input name="availability[]" class="form-control awesomplete" list="mylist"/>
                                <datalist id="mylist">
                                    <option>Available</option>
                                    <option>Expected</option>
                                    <option>Back to back order</option>
                                    <option>Limited</option>
                                </datalist>
                            </td>
                            <td><input type="text" name="supplier[]"
                                       value="{{ product.supplier }}"
                                       class="form-control">
                            </td>
                            <td>
                                <input type="file" class="form-control" name="image[]">
                            </td>
                            <td>
                                <a class="" data-bs-toggle="offcanvas"
                                   data-bs-target="#offcanvasSearch" title="search products"
                                   tabindex="0"
                                   data-plugin="tippy" data-tippy-interactive="true" onclick="openOffcanvas(this)">
                                    <i class="s mdi mdi-database-search-outline mdi-18px"></i>
                                </a>
                                <a class="add-row-button" onclick="addBlankRow(this)"
                                   title="add row"
                                   tabindex="0"
                                   data-plugin="tippy" data-tippy-interactive="true"><i
                                        class="s mdi mdi-plus-circle mdi-18px"></i>
                                </a>
                                <a class="delete-row-button" onclick="deleteRow(this)"
                                   title="delete row" tabindex="0"
                                   data-plugin="tippy" data-tippy-interactive="true">
                                    <i class="s mdi mdi-delete-outline mdi-18px"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="via" class="form-label" class>Via:</label>
                        <select name="via" class="form-select">
                            <option value="Call">
                                Call
                            </option>
                            <option value="Email">
                                Email
                            </option>
                            <option value="Facebook">
                                Facebook
                            </option>
                            <option value="Instagram">
                                Instagram
                            </option>
                            <option value="Twitter">
                                Twitter
                            </option>
                            <option value="Walk-in">
                                Walk-in
                            </option>
                            <option value="Website">
                                Website
                            </option>
                            <option value="WhatsApp">
                                WhatsApp
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="handler_id" class="form-label">Handler:</label>
                        <select name="handler_id" class="form-select">
                            {% for user in users %}
                                <option value="{{ user.id }}">
                                    {{ user.username }}
                                </option>
                            {% endfor %}
                        </select><br>
                    </div>
                    <div class="col-4">
                        <label for="status" class="form-label">Status:</label>
                        <select name="status" class="form-select">
                            <option value="Sourcing">
                                Sourcing
                            </option>
                            <option value="Closed">
                                Closed
                            </option>
                            <option value="Quote">
                                Quote
                            </option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>
                <div class="row mb-3 mx-auto">
                    <label for="more" class="form-label">More Details:</label>
                    <textarea name="more" rows="4"
                              class="form-control" placeholder="More Details"></textarea>

                </div>
                <button class="btn btn-primary" type="submit">Create
                    Ticket
                </button>
            </form>
        </div>
    </div> <!-- end col -->
    <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="mb-3 header-title text-center">Add Company</h4>
                    <form method="post" id="company-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                                   placeholder="Enter Company Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address:</label>
                            <input type="text" name="address" class="form-control" id="address"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter Company Address" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter Company Email" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label for="telephone" class="form-label">Telephone:</label>
                                <input type="text" name="telephone" class="form-control" id="telephone"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter Company Telephone" required>
                            </div>
                            <div class="mb-3 col-lg-6   ">
                                <label for="other_telephone" class="form-label">Alternative Telephone:</label>
                                <input type="text" name="other_telephone" class="form-control" id="other_telephone"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter Company Telephone" required>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4 col-lg-4">
                            <label for="type" class="form-label">Type:</label>
                            <select id="type" class="form-select" name="type" required>
                                <option>Choose</option>
                                <option>Contract</option>
                                <option>CSR</option>
                                <option>Subjective</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea type="text" name="description" class="form-control" id="description"
                                      aria-describedby="emailHelp"
                                      placeholder="Enter Description"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Add New</button>
                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="offcanvas offcanvas-end offcanvas-wider" tabindex="-1" id="offcanvasSearch"
         aria-labelledby="offcanvasSearchLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSearchLabel">Search Results</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Search Form -->
            <form id="searchForm">
                {% csrf_token %}
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" class="form-control">
                <button type="button" class="btn btn-primary mt-2" onclick="searchLaptops()">Search</button>
            </form>
            <p id="offcanvasContent">Row Number: </p>
            <!-- Search Results Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>description</th>
                    <th>Supplier</th>
                    <th>Price</th>
                    <th>Action</th>
                    <!-- Add other fields as needed -->
                </tr>
                </thead>
                <tbody id="searchResultsBody">
                <!-- Search results will be dynamically populated here -->
                </tbody>
            </table>
        </div>
    </div>


    <script>
        function addBlankRow(button) {
            // Create a new row by cloning the current row
            const currentRow = button.parentNode.parentNode;
            const newRow = currentRow.cloneNode(true);

            // Clear input values in the new row
            const inputs = newRow.getElementsByTagName('input');
            for (let input of inputs) {
                input.value = '';
            }

            // Clear select options in the new row (optional)
            const selects = newRow.getElementsByTagName('select');
            for (let select of selects) {
                select.selectedIndex = 0;
            }

            // Find input elements with id "price" and "qty" and set their values to 0
            const priceInput = newRow.querySelector('input#price');
            if (priceInput) {
                priceInput.value = '0';
            }
            const qtyInput = newRow.querySelector('input#qty');
            if (qtyInput) {
                qtyInput.value = '0';
            }

            // Insert the new row below the current row
            currentRow.parentNode.insertBefore(newRow, currentRow.nextSibling);
        }

        function deleteRow(button) {
            // Get the current row
            const currentRow = button.parentNode.parentNode;

            // Ensure that there is more than one row before attempting to delete
            if (currentRow.parentNode.children.length > 1) {
                // Remove the current row
                currentRow.parentNode.removeChild(currentRow);
            } else {
                alert("Cannot delete the only row.");
            }
        }

        function addBlankRowAtEnd() {
            // Create a new row to add at the end
            const tableBody = document.querySelector('table tbody');
            const newRow = tableBody.children[0].cloneNode(true);

            // Clear input values in the new row
            const inputs = newRow.getElementsByTagName('input');
            for (let input of inputs) {
                input.value = '';
            }
            const textareas = newRow.getElementsByTagName('textarea');
            for (let textarea of textareas) {
                textarea.value = '';
            }

            // Clear select options in the new row (optional)
            const selects = newRow.getElementsByTagName('select');
            for (let select of selects) {
                select.selectedIndex = 0;
            }

            // Find input elements with id "price" and "qty" and set their values to 0
            const priceInput = newRow.querySelector('input#price');
            if (priceInput) {
                priceInput.value = '0';
            }
            const qtyInput = newRow.querySelector('input#qty');
            if (qtyInput) {
                qtyInput.value = '0';
            }

            // Append the new row to the end of the table
            tableBody.appendChild(newRow);
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"
            integrity="sha512-HcBl0GSJvt4Qecm4srHapirUx0HJDi2zYXm6KUKNNUGdTIN9cBwakVZHWmRVj4MKgy1AChqhWGYcMDbRKgO0zg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.js"
            integrity="sha512-t3zV/oAkSZUrvb/7p1q1+uh/i56JinQ+bmiulnHhbHZc7dq09CxJ1BByyi7A4+lF76+CcJtSVFtb7na7Oe7Cgg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Assuming your form has an id of 'company-form'
            var form = document.getElementById('company-form');

            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Fetch the form data
                var formData = new FormData(form);

                // Send a POST request to your backend (Django view) to create a new company
                fetch('/create_company/', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // assuming your backend returns JSON
                    })
                    .then(data => {
                        // If the creation is successful, you can handle it here
                        console.log('Company created successfully:', data);
                        toastr.success("Company created successfully", "Company");
                        // Refresh the page after successful submission
                        location.reload();
                    })
                    .catch(error => {
                        // Handle errors here
                        console.error('Error during company creation:', error);
                    });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            ClassicEditor
                .create(document.querySelector('#issue_summary'), {
                    toolbar: {
                        items: [
                            'bold',
                            'italic',
                            'bulletedList',
                            'numberedList',
                            'blockQuote',
                            'undo',
                            'redo'
                        ],
                        shouldNotGroupWhenFull: true,
                        items: [
                            'bold',
                            'italic',
                            '|',
                            'bulletedList',
                            'numberedList',
                            '|',
                            'blockQuote',
                            '|',
                            'undo',
                            'redo'
                        ],
                        icon: {
                            bold: 'mdi mdi-format-bold',
                            italic: 'mdi mdi-format-italic',
                            bulletedList: 'mdi mdi-format-list-bulleted',
                            numberedList: 'mdi mdi-format-list-numbered',
                            blockQuote: 'mdi mdi-format-quote-open',
                            undo: 'mdi mdi-undo',
                            redo: 'mdi mdi-redo'
                        }
                    },
                    language: 'en',
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>
    <script>
        var rowNumber = 1;

        function openOffcanvas(button) {
            // Get the row containing the clicked button
            var row = button.closest('tr');

            // Get the row number
            rowNumber = Array.from(row.parentNode.children).indexOf(row) + 1;

            // Get the part_no value from the row
            var partNumber = row.querySelector('input[name="part_no[]"]').value;

            // Set the Offcanvas content with the row number
            var offcanvasContent = document.getElementById('offcanvasContent');
            offcanvasContent.textContent = 'Row Number: ' + rowNumber;

            // Set the value of the input field in the Offcanvas
            var partNoInput = document.getElementById('part_no');
            partNoInput.value = partNumber;

            // Trigger the Offcanvas
            var offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasExample'));
            offcanvas.show();
        }


        function searchLaptops() {
            // Get the input value
            var productName = document.getElementById('productName').value;

            // Perform the search (you can customize this based on your needs)
            // For simplicity, let's assume you're using jQuery for AJAX
            $.ajax({
                url: '/price-list/search_js/',  // Update the URL to your search endpoint
                method: 'POST',
                data: {product_name: productName},
                success: function (data) {
                    // Update the table with the search results
                    var searchResultsBody = document.getElementById('searchResultsBody');
                    searchResultsBody.innerHTML = '';  // Clear previous results

                    // Iterate over the JSON data and append rows to the table
                    data.forEach(function (laptop) {
                        var row = '<tr>' +
                            '<td>' + laptop.product_name + '</td>' +
                            '<td>' + laptop.description + '</td>' +
                            '<td>' + laptop.supplier + '</td>' +
                            '<td>' + laptop.price + '</td>' +
                            '<td><button class="btn btn-secondary" onclick="addToOriginalTable(&#39;' + laptop.product_name + '&#39;, &#39;' + laptop.description + '&#39;, &#39;' + laptop.price + '&#39;, &quot;' + laptop.supplier + '&quot;)">Add to Table</button></td>' +
                            '</tr>';
                        searchResultsBody.innerHTML += row;
                    });
                },
                error: function (error) {
                    console.error('Search error:', error);
                }
            });
        }

        // Function to add the selected laptop to the original table
        function addToOriginalTable(productName, description, price, supplier) {
            // Get the row number from the Offcanvas container's data attribute
            var offcanvasContainer = document.getElementById('offcanvasSearch');


            // Get the original table row corresponding to the row number
            var originalTableRow = document.querySelector('table tbody tr:nth-child(' + rowNumber + ')');

            // Update the 'part_no' input in the original table row with the selected product name
            originalTableRow.querySelector('input[name="part_no[]"]').value = productName;
            originalTableRow.querySelector('input[name="description[]"]').value = description;
            originalTableRow.querySelector('input[name="price[]"]').value = price;
            originalTableRow.querySelector('input[name="supplier[]"]').value = supplier;

            toastr.success("product added successfully")
            // Close the Offcanvas
            var offcanvas = new bootstrap.Offcanvas(offcanvasContainer);
            offcanvas.hide();
        }

        function updateTableRow() {
            // Get the Offcanvas content and input data
            var offcanvasContent = document.getElementById('offcanvasContent');
            var inputData = document.getElementById('inputData').value;

            console.log("data")
            console.log(rowNumber)

            // Get the original table row corresponding to the row number
            var originalTableRow = document.querySelector('table tbody tr:nth-child(' + rowNumber + ')');

            // Update the 'part_no' input in the original table row with the inputted data
            originalTableRow.querySelector('input[name="part_no[]"]').value = inputData;

            // Close the Offcanvas
            var offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasExample'));
            offcanvas.hide();
        }

    </script>
{% endblock %}