{% extends "base.html" %}
{% block title %}Invoice{% endblock %}
{% block header %}Invoice{% endblock %}
{% load static %}
{% block content %}
    <div class=" card col-8 mx-auto wrapper ">
        <!-- Main content -->
        <section class="card invoice px-4" id="delivery-note">
            <div id="content">

                <div class="page-header">
                    <div class="d-flex justify-content-center mb-1">
                        <img src="{% static 'logo black.png' %}" height="125" width="125">
                    </div>
                </div>

                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <td>
                            <!--place holder for the fixed-position header-->
                            <div class="page-header-space"></div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="page">
                                <div class="row">
                                    <div class="col-6 text-start">
                                        <p>{{ invoice.company.name }}</p>
                                        <p>{{ invoice.company.address }}</p>
                                    </div>
                                    <div class="col-6 text-end">
                                        <p>DATE: {{ invoice.created|date:"d/m/Y" }}</p>
                                        <p>OUR REF: ITLQP/{{ invoice.updated|date:"m/y" }}/{{ invoice.pfq_id }}</p>
                                    </div>
                                </div>
                                <table class="table table-bordered layout-fixed">
                                    <tbody>
                                    <tr>
                                        <td class=" d-flex justify-content-center"><strong>RE: PRO-FORMA
                                            INVOICE</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                                {% if invoice.layout == "Grouped" %}
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 20%; text-transform: uppercase;">Part No.</th>
                                            <th style="width: 40%; text-transform: uppercase;">Description</th>
                                            <th style="width: 20%; text-transform: uppercase;">Availability</th>
                                            <th style="width: 10%; text-transform: uppercase; text-align: center;">
                                                Price
                                            </th>
                                            <th style="width: 10%; text-transform: uppercase; text-align: center;">Qty
                                            </th>
                                            <th style="width: 10%; text-transform: uppercase; text-align: center;">
                                                Price({{ invoice.currency }})
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in items %}
                                            <tr>
                                                <td>{{ item.part_no }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>{{ item.availability }}</td>
                                                <td style="text-align: center;">{{ item.price }}</td>
                                                <td style="text-align: center;">{{ item.quantity }}</td>
                                                <td style="text-align: right;">{{ item.total }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <th colspan="5" style="text-align: right;">SUB TOTALS</th>
                                            <td style="text-align: right;">{{ subtotals }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-danger" colspan="5" style="text-align: right;">ADD VAT 16%
                                            </th>
                                            <td class="text-danger"
                                                style="text-align: right;">{{ vat }}</td>
                                        </tr>
                                        <tr>
                                            <th class="" colspan="5" style="text-align: right;">TOTAL AMOUNT</th>
                                            <td style="text-align: right;">{{ total_amount }}</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                {% endif %}
                                {% if invoice.layout == "Classified" %}
                                    {% for item in items %}
                                        <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 20%; text-transform: uppercase;">Part No.</th>
                                            <th style="width: 40%; text-transform: uppercase;">Description</th>
                                            <th style="width: 20%; text-transform: uppercase;">Availability</th>
                                            <th style="width: 10%; text-transform: uppercase; text-align: center;">
                                                Price
                                            </th>
                                            <th style="width: 5%; text-transform: uppercase; text-align: center;">Qty
                                            </th>
                                            <th style="width: 20%; text-transform: uppercase; text-align: center;">
                                                Price({{ invoice.currency }})
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ item.part_no }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.availability }}</td>
                                            <td style="text-align: center;">{{ item.price }}</td>
                                            <td style="text-align: center;">{{ item.quantity }}</td>
                                            <td style="text-align: right;">{{ item.total }}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="5" style="text-align: right;">SUB TOTALS</th>
                                            <td style="text-align: right;">{{ item.total }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-danger" colspan="5" style="text-align: right;">ADD VAT 16%
                                            </th>
                                            <td class="text-danger"
                                                style="text-align: right;">{{ item.vat }}</td>
                                        </tr>
                                        <tr>
                                            <th class="" colspan="5" style="text-align: right;">TOTAL AMOUNT</th>
                                            <td style="text-align: right;">{{ item.total_amount }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>

                                {% endif %}
                                {% if invoice.layout == "Separated" %}
                                    {% for item in items %}
                                        <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 20%; text-transform: uppercase;">Part No.</th>
                                            <th style="width: 40%; text-transform: uppercase;">Description</th>
                                            <th style="width: 20%; text-transform: uppercase;">Availability</th>
                                            <th style="width: 10%; text-transform: uppercase; text-align: center;">
                                                Price
                                            </th>
                                            <th style="width: 5%; text-transform: uppercase; text-align: center;">Qty
                                            </th>
                                            <th style="width: 20%; text-transform: uppercase; text-align: center;">
                                                Price({{ invoice.currency }})
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ item.part_no }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.availability }}</td>
                                            <td style="text-align: center;">{{ item.price }}</td>
                                            <td style="text-align: center;">{{ item.quantity }}</td>
                                            <td style="text-align: right;">{{ item.total }}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="5" style="text-align: right;">SUB TOTALS</th>
                                            <td style="text-align: right;">{{ item.total }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-danger" colspan="5" style="text-align: right;">ADD VAT 16%
                                            </th>
                                            <td class="text-danger"
                                                style="text-align: right;">{{ item.vat }}</td>
                                        </tr>
                                        <tr>
                                            <th class="" colspan="5" style="text-align: right;">TOTAL AMOUNT</th>
                                            <td style="text-align: right;">{{ item.total_amount }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>

                                {% endif %}


                            </div> <!-- /. page -->

                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row  col-10 ms-2">
                    <h6><strong><u>TERMS OF PAYMENT</u></strong></h6>
                    <h6>100% ON ORDER</h6>
                </div>
                <div class="row col-10 ms-2 ">
                    <h5>OUR BANK DETAILS</h5>
                    <h6><strong>Currency: {{ invoice.bank.currency }}</strong></h6>
                    <h6><strong>Bank: {{ invoice.bank.bank }}</strong></h6>
                    <h6><strong>Account Name: {{ invoice.bank.ac_name }}</strong></h6>
                    <h6><strong>Branch: {{ invoice.bank.branch }}</strong></h6>
                    <h6><strong>Account Number: {{ invoice.bank.ac_no }}</strong></h6>
                    <h6><strong>Bank Code: {{ invoice.bank.bank }}</strong></h6>
                    <h6><strong>Branch Code: {{ invoice.bank.branch_code }}</strong></h6>
                    <h6><strong>Swift Code: {{ invoice.bank.swift_code }}</strong></h6>
                </div>
                <div class="row  col-10 ms-2 mt-2">
                    <h6><strong>INTELLITECH LTD</strong></h6>
                    <h6><strong>PIN: P051118610N</strong></h6>
                </div>
            </div>
            <div id="footer-container">
                <img src="{% static 'tr_footer.png' %}" id="footer-image" class="mb-1">
            </div>
        </section>

    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>



    <a type="button" class="btn btn-primary waves-effect waves-light  me-1" id="print-button">
        <span class="btn-label"><i class="mdi mdi-printer"></i></span>Print
    </a>
    <script>
        document.getElementById('print-button').addEventListener('click', function () {
            printDeliveryNote();
        });

        function printDeliveryNote() {
            var printContents = document.getElementById('delivery-note').innerHTML; // 'delivery-note' is the ID of the content to print
            var originalContents = document.body.innerHTML;

            // Create a style tag and append it to the head to define a CSS rule for the footer image and remove margins
            var style = document.createElement('style');
            style.innerHTML = `
            @media print {
                body {
                    margin: 0 !important;
                }

                .page {

                }

                .page-break {
                    page-break-before: always;
                }
                #footer-container {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    max-width: 100%;
                    z-index: 1;

                }

                #footer-image {
                    max-width: 100%;
                }
            }
        `;
            document.head.appendChild(style);

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;

            // Remove the added CSS rule
            document.head.removeChild(style);
        }
    </script>


{% endblock %}