{% extends "base.html" %}
{% load static %}
{% block title %}Orders List{% endblock %}
{% block header %}Orders List{% endblock %}
{% block content %}
    <style>
        .wrap-text {
            white-space: normal; /* Enables word-wrapping */
        }
    </style>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'active-orders' %}">Orders</a></li>


                </ol>
            </div>

        </div> <!-- end col -->

    </div>

    <div class="card">
        <div class="card-body table-responsive">
            <h4 class="mt-0 header-title">Orders List</h4>
            <table id="responsive-datatable" class="table table-bordered dt-responsive">

                {#                <a type="button" class="btn btn-primary waves-effect waves-light mb-1" href="{% url 'add-part' %}">#}
                {#                    <span class="btn-label"><i class="mdi mdi-plus"></i></span>Add New#}
                {#                </a>#}
                {% comment %}<a type="button" class="btn btn-primary waves-effect waves-light mb-1 me-1">
                    <span class="btn-label"><i class="mdi mdi-plus"></i></span>Add New
                </a>{% endcomment %}
                {% comment %}
                    <button type="button" class="btn btn-warning waves-effect waves-light mb-1 me-1" id="print-table">
                        <span class="btn-label"><i class="mdi mdi-printer"></i></span>Print
                    </button>{% endcomment %}
                <thead class="table-dark">
                <tr>
                    <th width="5%">No.</th>
                    <th width="5%">ID</th>
                    <th width="13%">Date</th>
                    <th width="17%">Client</th>
                    <th width="15%">Ticket</th>
                    <th width="7%">Assignee</th>
                    <th>Products</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>#{{ order.o_id }}</td>
                        <td>{{ order.created }}</td>
                        <td>{{ order.client }}</td>
                        <td>
                            {% if order.ticket %}
                                <a href="{% url 'edit_sales_ticket' order.ticket.ticket_id %}">
                                    #{{ order.ticket.ticket_id }} .. {{ order.ticket.issue_summary|safe }}</a>
                            {% else %}
                                No ticket
                            {% endif %}
                        </td>
                        <td>{{ order.assignee }}</td>
                        <td>
                            <div class="product-list" data-order-id="{{ order.o_id }}" style="display: none;">
                                {% for product in order.orderproducts_set.all %}
                                    <li>{{ product.product }} {% if product.date_ordered %}// Ordered:
                                        {{ product.date_ordered }} {% endif %} {% if product.date_expected %}//Expected:
                                        {{ product.date_expected }}{% endif %}</li>
                                    {% empty %}
                                    No products associated
                                {% endfor %}
                            </div>
                            <a class="show-more-btn btn btn-outline-primary py-0 px-3" data-order-id="{{ order.o_id }}">More</a>
                        </td>

                        <td>
                            {% if order.status == "Pending" %}
                                <i class="mdi mdi-clock btn-outline-info mdi-18px "> Pending</i>
                            {% elif order.status == "Awaiting LPO" %}
                                <i class="mdi mdi-file-document btn-outline-warning mdi-18px"> Awaiting LPO</i>
                            {% elif order.status == "Back to Back" %}
                                <i class="mdi mdi-package btn-outline-danger mdi-18px"> Back to Back</i>
                            {% elif order.status == "Ordered" %}
                                <i class="mdi mdi-cart btn-outline-dark mdi-18px"> Ordered</i>
                            {% elif order.status == "Completed" %}
                                <i class="mdi mdi-check-circle-outline btn-outline-success mdi-18px"> Completed</i>
                            {% else %}
                                {{ order.status }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'edit-order' order.o_id %}" title="edit" tabindex="0"
                               data-plugin="tippy" data-tippy-interactive="true">
                                <i class="mdi mdi-square-edit-outline mdi-18px"></i>
                            </a>
                            <a href="{% url 'duplicate_order' order.o_id %}" title="duplicate" tabindex="0"
                               data-plugin="tippy" data-tippy-interactive="true">
                                <i class="mdi mdi-content-duplicate mdi-18px"></i>
                            </a>
                            <a href="{% url 'delete-order' order.o_id %}" title="delete" tabindex="0"
                               data-plugin="tippy" data-tippy-interactive="true">
                                <i class="s mdi mdi-delete-outline mdi-18px"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('show-more-btn')) {
                const orderId = e.target.getAttribute('data-order-id');
                const productList = document.querySelector(`.product-list[data-order-id="${orderId}"]`);

                if (productList.style.display === "none" || productList.style.display === "") {
                    productList.style.display = "block";
                    e.target.textContent = "Less";
                } else {
                    productList.style.display = "none";
                    e.target.textContent = "More";
                }
            }
        });

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link href="{% static 'libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    {#    <link href="{% static 'datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />#}
    <link href="{% static 'libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'libs/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <!-- third party js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <!-- third party js ends -->

    <!-- Datatables init -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('#responsive-datatable').DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        text: 'Create Order', // Custom button text
                        text: '<i class="fas fa-plus"></i> Add',
                        action: function () {
                            window.location.href = '{% url "create_order" %}';
                        },
                        className: 'btn btn-danger mb-1 waves-effect waves-light'
                    },

                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i> Copy',
                        className: 'btn btn-danger mb-1'
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i> Csv',
                        className: 'btn btn-danger btn-bg-light mb-1'
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i> Excel',
                        className: 'btn btn-danger mb-1'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> Pdf',
                        className: 'btn btn-danger mb-1',
                        title: 'Ticket List',
                        customize: function (doc) {
                            doc.content[1].table.widths = ['20%', '20%', '20%', '20%', '20%'];
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> Print',
                        className: 'btn btn-danger mb-1'
                    },

                ]
            });
        });


        jQuery(document).ready(function ($) {
            var table = $('#responsive-datatable').DataTable();

            $('#print-table').on('click', function () {
                var win = window.open('', 'Print', 'width=800,height=600');
                win.document.write('<html><head><title>Print</title></head><body>');
                win.document.write('<h1>Ticket List</h1>');
                win.document.write('<table style="border-collapse: collapse; width: 100%;">');

                // Add table headers
                win.document.write('<tr>');
                table.columns().header().each(function (th) {
                    win.document.write('<th style="border: 1px solid #ddd; padding: 8px; text-align: left;">' + $(th).html() + '</th>');
                });
                win.document.write('</tr>');

                // Loop through the DataTable rows and copy them to the new window
                table.rows().every(function () {
                    var row = this.data();
                    win.document.write('<tr>');
                    for (var i = 0; i < row.length; i++) {
                        win.document.write('<td style="border: 1px solid #ddd; padding: 8px; text-align: left;">' + row[i] + '</td>');
                    }
                    win.document.write('</tr>');
                });

                win.document.write('</table>');
                win.document.write('</body></html>');
                win.document.close();
                win.print();
                win.close();
            });
        });


    </script>

{% endblock %}

