{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tickets</h4>
                    <div class="inbox-widget">
                        <div class="inbox-item">
                            <a href="{% url 'open_tickets_list' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Open Tickets</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ open_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'tickets_in_status' 'Sourcing' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Sourcing Tickets</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ sourcing_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'tickets_in_status' 'Quote' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Quote Tickets</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ quote_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'tickets_in_status' 'Closed' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Closed Tickets</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ closed_count }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Quotes</h4>
                    <div class="inbox-widget">
                        <div class="inbox-item">
                            <a href="{% url 'quotes_in_status' 'Follow up' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Follow up</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ follow_up_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'quotes_in_status' 'Awaiting LPO' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Awaiting LPO</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ awaiting_lpo_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'quotes_in_status' 'On hold' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">On hold</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ on_hold_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'quotes_in_status' 'Not interested' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Not interested</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ not_interested_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'quotes_in_status' 'Done' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Done</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ done_count }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Orders</h4>
                    <div class="inbox-widget">
                        <div class="inbox-item">
                            <a href="{% url 'orders_in_status' 'Pending' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Pending</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ pending_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'orders_in_status' 'Awaiting LPO' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Awaiting LPO</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ order_awaiting_lpo_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'orders_in_status' 'Expected' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Expected</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ expected_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'orders_in_status' 'Ordered' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Ordered</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ ordered_count }}</p>
                            </a>
                        </div>
                        <div class="inbox-item">
                            <a href="{% url 'orders_in_status' 'Completed' %}">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Completed</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ completed_count }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title ">Tasks</h4>
                    <div class="inbox-widget">
                        {% for status_count in status_counts %}
                            <div class="inbox-item">
                                <a href="#">
                                    <div class="inbox-item-img"></div>
                                    <h5 class="inbox-item-author mt-0 mb-0">{{ status_count.status }}</h5>
                                    <p class="inbox-item-date" style="font-size: 16px;">{{ status_count.count }}</p>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="inbox-item">
                            <a href="#">
                                <div class="inbox-item-img"></div>
                                <h5 class="inbox-item-author mt-0 mb-0">Completed Today</h5>
                                <p class="inbox-item-date" style="font-size: 16px;">{{ completed_count_today }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Tickets Overview</h4>

                    <div class="chartjs-chart">
                        <canvas id="ticket-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div><!-- end col-->
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Quotes Overview</h4>

                    <div class="chartjs-chart">
                        <canvas id="quote-chart" height="200"></canvas>
                    </div>
                </div>
            </div>

        </div><!-- end col-->
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Orders Overview</h4>

                    <div class="chartjs-chart">
                        <canvas id="order-chart" height="200"></canvas>
                    </div>
                </div>
            </div>

        </div><!-- end col-->
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card" height="50">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Tickets This Month</h4>
                    <div class="chartjs-chart">
                        <canvas id="donut-chart-ticket" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title mt-0 mb-3">Quotes This Month</h4>

                    <div class="chartjs-chart">
                        <canvas id="donut-chart-quotes" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title mt-0 mb-3">Orders This Month</h4>

                    <div class="chartjs-chart">
                        <canvas id="donut-chart-orders" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Array to map month numbers to month names
        var monthNames = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        // Make an AJAX request to the view to get the data
        fetch('{% url 'tickets_created_this_year' %}')
            .then(response => response.json())
            .then(data => {
                var labels = data.map(item => monthNames[item.month - 1]); // Map to month names
                var ticketCounts = data.map(item => item.count);

                var ctx = document.getElementById('ticket-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Tickets Created',
                            data: ticketCounts,
                            backgroundColor: 'rgba(220,53,69,0.7)',
                            borderColor: 'rgba(220,53,69,255)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    </script>
    <script>
        // Array to map month numbers to month names
        var monthNames = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        // Make an AJAX request to the view to get the data
        fetch('{% url 'quotes_created_this_year' %}')
            .then(response => response.json())
            .then(data => {
                var labels = data.map(item => monthNames[item.month - 1]); // Map to month names
                var quoteCounts = data.map(item => item.count);

                var ctx = document.getElementById('quote-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Quotes Created',
                            data: quoteCounts,
                            backgroundColor: 'rgba(220,53,69,0.7)',
                            borderColor: 'rgba(220,53,69,255)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    </script>
    <script>
        // Array to map month numbers to month names
        var monthNames = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        // Make an AJAX request to the view to get the data
        fetch('{% url 'orders_created_this_year' %}')
            .then(response => response.json())
            .then(data => {
                var labels = data.map(item => monthNames[item.month - 1]); // Map to month names
                var orderCounts = data.map(item => item.count);

                var ctx = document.getElementById('order-chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Orders Created',
                            data: orderCounts,
                            backgroundColor: 'rgba(220,53,69,0.7)',
                            borderColor: 'rgba(220,53,69,255)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    </script>
    <script>
        // Make an AJAX request to the view to get the data
        fetch('{% url 'donut_chart_data' %}')
            .then(response => response.json())
            .then(data => {
                var labels = ['Sourcing', 'Quote', 'Closed'];
                var backgroundColors = ['#ffc107', '#20c997', '#dc3545'];

                var ctx = document.getElementById('donut-chart-ticket').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: backgroundColors
                        }]
                    }
                });
            });
    </script>
    <script>
        // Make an AJAX request to the view to get the data
        fetch('{% url 'donut_chart_quotes_data' %}')
            .then(response => response.json())
            .then(data => {
                var labels = ['Follow up', 'Awaiting LPO', 'On hold', 'Not interested', 'Done'];
                var backgroundColors = ['#f8f9fa', '#fd7e14', '#28a745', '#dc3545', '#ffc107    '];

                var ctx = document.getElementById('donut-chart-quotes').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: backgroundColors
                        }]
                    }
                });
            });
    </script>
    <script>
        // Make an AJAX request to the view to get the data
        fetch('{% url 'donut_chart_orders_data' %}')
            .then(response => response.json())
            .then(data => {
                var labels = ['Pending', 'Awaiting LPO', 'Expected', 'Ordered', 'Completed', 'Cancelled'];
                var backgroundColors = ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(75, 192, 192, 0.6)', 'rgba(153, 102, 255, 0.6)', 'rgba(255, 159, 64, 0.6)'];

                var ctx = document.getElementById('donut-chart-orders').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: backgroundColors
                        }]
                    }
                });
            });
    </script>
{% endblock %}