<!-- templates/create_company.html -->
{% extends "base.html" %}
{% block title %}Create Company{% endblock %}
{% block header %}Create Company{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'company-list' %}">Companies</a></li>
                    <li class="breadcrumb-item active">Add Company</li>
                </ol>
            </div>
        </div> <!-- end col -->
    </div>
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3 header-title text-center">Add Company</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                               placeholder="Enter Company Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address:</label>
                        <input type="text" name="address" class="form-control" id="address" aria-describedby="emailHelp"
                               placeholder="Enter Company Address" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                               placeholder="Enter Company Email" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label for="telephone" class="form-label">Telephone:</label>
                            <input type="text" name="telephone" class="form-control" id="telephone"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter Company Telephone" required>
                        </div>
                        <div class="mb-3 col-lg-6   ">
                            <label for="other_telephone" class="form-label">Alternative Telephone:</label>
                            <input type="text" name="other_telephone" class="form-control" id="other_telephone"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter Company Telephone" required>
                        </div>
                    </div>
                    <div class="mb-3 col-md-4 col-lg-4">
                        <label for="type" class="form-label">Type:</label>
                        <select id="type" class="form-select" name="type" required>
                            <option>Choose</option>
                            <option>Contract</option>
                            <option>CSR</option>
                            <option>Subjective</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea type="text" name="description" class="form-control" id="description"
                                  aria-describedby="emailHelp"
                                  placeholder="Enter Description"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary waves-effect waves-light">Add New</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
