{% extends "base.html" %}
{% block title %}Create Delivery{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'list_deliveries' %}">Deliveries</a></li>
                    <li class="breadcrumb-item active">Add Delivery</li>
                </ol>
            </div>
        </div> <!-- end col -->
    </div>
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3 header-title text-center">Create Delivery</h4>
                <form method="post" enctype="multipart/form-data" action="{% url 'create_delivery' ticket.ticket_id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="collected_by" class="form-label">Collected by:</label>
                        <input type="text" name="collected_by" class="form-control" id=collected_by"
                               aria-describedby="emailHelp"
                               placeholder="Collected by">
                    </div>
                    <div class="mb-3">
                        <div class="table-responsive">
                            <h4 class="text-center mb-2 border-bottom pb-2">Items</h4>
                            <table class="table mb-0" id="items-table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Qty</th>
                                    <th>Serial No</th>
                                    <th>Particulars</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>1</th>
                                    <td width="10%"><input value="1" class="form-control" id="qty" name="quantity_[]"/>
                                    </td>
                                    <td width="30%"><input value="{{ ticket.serial_no }}" class="form-control"
                                                           name="serial_no_[]"/></td>
                                    <td><input class="form-control" value="{{ ticket.equipment }}"
                                               name="particulars_[]"/></td>
                                </tr>
                                {% if accessories_list %}
                                    {% for item in accessories_list %}
                                        <tr>
                                            <th>1</th>
                                            <td width="10%"><input value="1" class="form-control" id="qty"
                                                                   name="quantity_[]"/></td>
                                            <td width="30%"><input value="N/A" class="form-control"
                                                                   name="serial_no_[]"/></td>
                                            <td><input class="form-control" value="{{ item }}"
                                                       name="particulars_[]"/></td>
                                        </tr>{% endfor %}
                                {% endif %}
                                <tr>
                                    <th>1</th>
                                    <td width="10%"><input class="form-control" id="qty" name="quantity_[]" value="1"/>
                                    </td>
                                    <td width="30%"><input class="form-control" name="serial_no_[]"/></td>
                                    <td><input class="form-control" name="particulars_[]"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class=" mt-2 mx-auto">
                            <button type="button" class="btn btn-outline-primary" id="add-row-button">Add Row</button>
                        </div>
                    </div>
                    <button type="submit" id="save-button" class="btn btn-primary waves-effect waves-light">Submit
                    </button>
                </form>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
    <script>
        // Counter to keep track of the number of rows
        let rowCount = 1;
        document.getElementById('add-row-button').addEventListener('click', function () {
            rowCount++;
            // Clone the template row and update input names
            const templateRow = document.querySelector('#items-table tbody tr');
            const newRow = templateRow.cloneNode(true);

            // Reset input values in the cloned row
            newRow.querySelectorAll('input').forEach(input => {
                input.value = '';
            });
            const qtyInput = newRow.querySelector('input#qty');
            if (qtyInput) {
                qtyInput.value = '1';
            }
            newRow.querySelector('th').textContent = rowCount;
            newRow.querySelector('input[name="quantity_[]"]').name = `quantity_[]`;
            newRow.querySelector('input[name="serial_no_[]"]').name = `serial_no_[]`;
            newRow.querySelector('input[name="particulars_[]"]').name = `particulars_[]`;
            // Append the new row to the table
            document.querySelector('#items-table tbody').appendChild(newRow);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}


