{% extends "base.html" %}
{% load static %}
{% block title %}Task Details{% endblock %}
{% block header %}Task Details{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks</a></li>
                    <li class="breadcrumb-item">Task Details</li>
                </ol>
            </div>
        </div> <!-- end col -->
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title mb-3">Task Details</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="card  shadow-lg p-3 mb-3 bg-body-tertiary">
                        <div class="card-body task-detail">
                            <div class="d-flex mb-3">
                                <img class="flex-shrink-0 me-3 rounded-circle avatar-md" alt="64x64"
                                     src="{% static 'images/profile.png' %}">
                                <div class="flex-grow-1">
                                    <h4 class="media-heading mt-0">{{ task.user.username }}</h4>
                                    <span>Created by <span
                                            class="badge bg-primary">{{ task.created_by.username }}</span></span>
                                </div>
                            </div>
                            <h4 class="mb-2">{{ task.title }}</h4>
                            <p class="text-muted">
                                {{ task.description }}
                            </p>
                            <div class="clearfix"></div>

                            <div class="assign-team mt-3">
                                <h5>Tagged Users:</h5>
                                <div>
                                    <ul>
                                        {% for cc_user in task.cc_users.all %}
                                            <span class="badge badge-outline-primary">{{ cc_user.username }}</span>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-6">
                                        <label for="status" class="form-label">Status</label>
                                        <select name="status" class="form-select mb-2">
                                            <option value="Pending"
                                                    {% if task.status == 'Pending' %}selected{% endif %}>Pending
                                            </option>
                                            <option value="In Progress"
                                                    {% if task.status == 'In Progress' %}selected{% endif %}>In Progress
                                            </option>
                                            <option value="Completed"
                                                    {% if task.status == 'Completed' %}selected{% endif %}>Completed
                                            </option>
                                            <!-- Add other status options as needed -->
                                        </select>
                                        <input type="submit" class="btn btn-primary" value="Update Status">
                                        <a href="{% url 'tasks' %}" class="btn btn-primary ">Back to Task List</a>
                                    </div>
                                    <div class="col-6">
                                        <label for="assignee" class="form-label">Assignee</label>
                                        <select class="form-select" name="assignee" id="assignee">
                                            {% for tech in asignees %}
                                                <option value="{{ tech.pk }}"
                                                        {% if tech.pk == user.pk %}selected{% endif %}>
                                                    {{ tech.username }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card  shadow-lg p-3 mb-3 bg-body-tertiary">
                        <h4 class="header-title mt-0 mb-3">Remarks</h4>
                        {% for remark in task.remark_set.all %}
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0 me-3">
                                </div>
                                <div class="flex-grow-1">
                                    <small>{{ remark.created }}</small>
                                    <div>
                                        <p class="font-13 text-black mb-0">{{ remark.remark }}
                                        </p>
                                    </div>


                                </div>
                            </div>
                        {% endfor %}
                        <div class="flex-grow-1">
                            <form method="post" action="{% url 'add_remark' task.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form2.remark.label_tag }}
                                    {{ form2.remark }}
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Add Remark</button>
                            </form>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="card shadow p-3 mb-3 bg-body-tertiary">
                        <div class="card-body">
                            <h4 class="header-title mt-0 mb-3">Comments</h4>
                            <div>
                                {% for comment in task.comment_set.all %}
                                    <div class="d-flex mb-3">
                                        <div class="flex-shrink-0 me-3">
                                            <a href="#"> <img class="rounded-circle avatar-sm" alt="64x64"
                                                              src="{% static 'images/profile.png' %}"> </a>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="mt-0">{{ comment.user.username }}</h5>
                                            <div>
                                                <p class="font-13 text-muted mb-0">{{ comment.comment }}.
                                                </p>
                                            </div>
                                            <small>{{ comment.created }}</small>

                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="d-flex mb-3">
                                    <div class=" me-3">
                                        <a href="#"> <img class="rounded-circle avatar-sm" alt="64x64"
                                                          src="{% static 'images/profile.png' %}"> </a>
                                    </div>
                                    <div class="flex-grow-1">
                                        <form method="post" action="{% url 'add_comment' task.id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {{ form1.comment.label_tag }}
                                                {{ form1.comment }}
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-2">Add Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/pages/task-detail.init.js' %}"></script>
    <script>
        function addComment() {
            var commentInput = document.getElementById('commentInput').value;
            var commentList = document.querySelector('h2:contains("Comments") + ul');
            commentList.innerHTML += '<li><strong>You:</strong> ' + commentInput + '</li>';
            document.getElementById('commentInput').value = '';
        }

        function updateStatus() {
            var newStatus = document.getElementById('statusSelect').value;
            var statusDisplay = document.querySelector('p:contains("Status:")');
            statusDisplay.textContent = 'Status: ' + newStatus;
        }
    </script>

{% endblock %}
