{% extends "base.html" %}
{% load static %}
{% block title %}Tasks{% endblock %}
{% block header %}Tasks{% endblock %}
{% block content %}
    <link href="{% static 'libs/custombox/custombox.min.css' %}" rel="stylesheet">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tasks' %}">Tasks</a></li>
                </ol>
            </div>
        </div> <!-- end col -->
    </div>
    <div class="card">
        <div class="card-body table-responsive">
            <h4 class="mt-0 header-title mb-3">Task List</h4>
            <a href="{% url 'create_task' %}" class="btn btn-primary mb-2"><span class="btn-label"><i
                    class="mdi mdi-plus"></i></span>Add New</a>
            <a href="{% url 'daily_report' %}" class="btn btn-primary mb-2"><span class="btn-label"><i
                    class="mdi mdi-google-analytics"></i></span>Send Daily Report</a>
            <div class="row">
                <div class="col-xl-4">
                    <div class="card shadow-lg p-3 mb-3 bg-body-tertiary">
                        <div class="card-body taskboard-box">
                            <h4 class="header-title mt-0 mb-3 text-primary">Pending</h4>
                            {% if pending_tasks %}
                                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                    {% for task in pending_tasks %}
                                        <li class="shadow p-3 mb-3 bg-body-tertiary">
                                            <div class="kanban-box">
                                                <div class="checkbox-wrapper float-start">
                                                    <div class="form-check form-check-success ">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="singleCheckbox2"
                                                               value="option2" aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </div>
                                                <div class="kanban-detail">
                                                    <span class="badge bg-primary float-end">{{ task.user.username }}</span>
                                                    <h5 class="mt-0"><a href="{% url 'view_task_details' task.id %}"
                                                                        class="text-dark">{{ task.title }}</a></h5>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="{% url 'view_task_details' task.id %}">
                                                                <i class="mdi mdi-format-align-left"></i> {{ task.cc_users_count }}
                                                                Users
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="{% url 'view_task_details' task.id %}">
                                                                <i class="mdi mdi-comment-outline"></i> {{ task.comment_count }}
                                                                Comments
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No Pending tasks found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-4">
                    <div class="card shadow-lg p-3 mb-3 bg-body-tertiary">
                        <div class="card-body taskboard-box">
                            <h4 class="header-title mt-0 mb-3 text-warning">In Progress</h4>
                            {% if in_progress_tasks %}
                                <ul class="sortable-list list-unstyled taskList" id="inprogress">
                                    {% for task in in_progress_tasks %}
                                        <li class="shadow p-3 mb-3 bg-body-tertiary">
                                            <div class="kanban-box">
                                                <div class="checkbox-wrapper float-start">
                                                    <div class="form-check form-check-success">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="singleCheckbox6"
                                                               value="option6" aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </div>
                                                <div class="kanban-detail">
                                                    <span class="badge bg-primary float-end">{{ task.user.username }}</span>
                                                    <span class="badge bg-primary float-end">{{ task.creator.username }}</span>
                                                    <h5 class="mt-0"><a href="{% url 'view_task_details' task.id %}"
                                                                        class="text-dark">{{ task.title }}</a></h5>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="{% url 'view_task_details' task.id %}">
                                                                <i class="mdi mdi-format-align-left"></i> {{ task.cc_users_count }}
                                                                Users
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="{% url 'view_task_details' task.id %}">
                                                                <i class="mdi mdi-comment-outline"></i> {{ task.comment_count }}
                                                                Comments
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No In Progress tasks found.</p>
                                </ul>
                            {% endif %}

                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-4">
                    <div class="card shadow-lg p-3 mb-3 bg-body-tertiary">
                        <div class="card-body taskboard-box">
                            <h4 class="header-title mt-0 mb-3 text-success">Completed</h4>
                            {% if completed_tasks %}
                                <ul class="sortable-list list-unstyled taskList" id="completed">
                                    {% for task in completed_tasks %}
                                        <li class="shadow p-3 mb-3 bg-body-tertiary">
                                            <div class="kanban-box ">
                                                <div class="checkbox-wrapper float-start">
                                                    <div class="form-check form-check-success ">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="singleCheckbox10" value="option10"
                                                               aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </div>
                                                <div class="kanban-detail">
                                                    <span class="badge bg-primary float-end">{{ task.user.username }}</span>
                                                    <span class="badge bg-primary float-end">{{ task.creator.username }}</span>
                                                    <h5 class="mt-0"><a href="{% url 'view_task_details' task.id %}"
                                                                        class="text-dark">{{ task.title }}</a></h5>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="{% url 'view_task_details' task.id %}">
                                                                <i class="mdi mdi-format-align-left"></i> {{ task.cc_users_count }}
                                                                Users
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="{% url 'view_task_details' task.id %}">
                                                                <i class="mdi mdi-comment-outline"></i> {{ task.comment_count }}
                                                                Comments
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No Completed tasks found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Jquery Ui js -->
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Modal-Effect -->
    <script src="{% static 'libs/custombox/custombox.min.js' %}"></script>

    <!-- Init -->
    <script src="{% static 'js/pages/kanban.init.js' %}"></script>


{% endblock %}
