{% extends "base.html" %}
{% load static %}
{% block title %}Users List{% endblock %}
{% block header %}Users List{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Users</a></li>


                </ol>
            </div>

        </div> <!-- end col -->

    </div>

    <div class="card">
        <div class="card-body table-responsive">
            <h4 class="mt-0 header-title">User List</h4>
            <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap">

                <a type="button" class="btn btn-primary waves-effect waves-light mb-1" href="{% url 'create_user' %}">
                    <span class="btn-label"><i class="mdi mdi-plus"></i></span>Add New
                </a>
                <thead class="table-dark">
                <tr>
                    <th>No.</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th width="10%">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <div class="product-list" data-order-id="{{ user.id }}" style="display: none;">
                                {% for group in user.groups.all %}
                                    <li>{{ group.name }}</li>
                                    {% empty %}
                                    No Roles associated
                                {% endfor %}
                            </div>
                            <a class="show-more-btn btn btn-outline-primary py-0 px-3" data-order-id="{{ user.id }}">More</a>
                        </td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>

                        <td>
                            <a href="{% url 'edit_user' user.id %}" title="edit" tabindex="0" data-plugin="tippy"
                               data-tippy-interactive="true">
                                <i class="mdi mdi-square-edit-outline mdi-18px"></i>
                            </a>

                            <a href="{% url 'delete_user' user.id %}" title="delete" tabindex="0" data-plugin="tippy"
                               data-tippy-interactive="true">
                                <i class="s mdi mdi-delete-outline mdi-18px"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link href="{% static 'libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    {#    <link href="{% static 'datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />#}
    <link href="{% static 'libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'libs/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <!-- third party js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <!-- third party js ends -->

    <!-- Datatables init -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('#responsive-datatable').DataTable();
        });
    </script>
    <script>
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('show-more-btn')) {
                const orderId = e.target.getAttribute('data-order-id');
                const productList = document.querySelector(`.product-list[data-order-id="${orderId}"]`);

                if (productList.style.display === "none" || productList.style.display === "") {
                    productList.style.display = "block";
                    e.target.textContent = "Less";
                } else {
                    productList.style.display = "none";
                    e.target.textContent = "More";
                }
            }
        });

    </script>


{% endblock %}
